<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <% if (profile.avatar) { %>
    <img 
      class="profile-avatar"
      src="<%= profile.avatar %>" 
      alt="<%= profile.name %> avatar"
        >
    <% } %>
  <h1>Welcome, <%= profile.name %> !</h1>
  <form 
    id="add-hike-form"
    action="/hikes/new"
    method="GET">
    <label for="add-hike"></label>
    <button type="submit">Add Hike!</button>
  </form>
  <h2>Hikes</h2>
  <% profile.hikes.forEach(hike => { %> 
  <tr>
    <td><%= hike.trail %></td>
    <td><%= hike.mileage %></td>
    <td><%= hike.timeOfDay %></td>
    <td><%= hike.postHike %></td>
  </tr>
  <% }) %>
  <div>
    <button type="submit">Edit</button>
    <button type="submit">Delete</button>
  </div>
</main>

<%- include('../partials/footer') %>