<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="trail-index-title">
    <h1>Welcome to Hood Mountain!</h1>
  </div>
  <div class="trail-index-title">
    <h2>Sonoma County, CA</h2>
  </div>
  <div id="trail-index-trails">
  <table>
    <thead>
      <tr>
        <th>Check out the Trails!</th>
      </tr>
    </thead>
    <tbody>
      <% trails.forEach(trail => { %> 
        <tr>
          <td><%= trail.name %></td>
          <td><a href="/trails/<%= trail._id %>">Details</a></td>
          <td>
        </tr>
      <% }) %>
    </tbody>
  </table>
</div>
</main>

<%- include('../partials/footer') %>