<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
  <div class="trail-index-title">
    <h1 class="welcome-message">Welcome to Hood Mountain!</h1>
  </div>
  <div class="trail-index-title">
    <h2 class="welcome-message">Sonoma County, CA</h2>
  </div>
  <div id="trail-index-trails">
    <div id="trails-index-chart-title">
        <h2>Check out the Trails!</h2>
      </div>
      <div id="trails-index-list">
      <% trails.forEach(trail => { %> 
          <td><%= trail.name %></td>
          <td><a href="/trails/<%= trail._id %>">Details</a> 
      <% }) %>
    </div>
</div>
</main>

<%- include('../partials/footer') %>