<%- include('../partials/html-head') %>
<%- include('../partials/nav') %>

<main>
<div id="trail-details">
 <h1 id="trail-show-name">Explore <%= trail.name %> </h1>
 <section>
    <div class="card" style="width: 18rem;">
        <img id="bootstrap-card" src="/assets/clouds1.jpeg" alt="Card image cap" width="200" height="200">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Total Mileage: <%- JSON.stringify(trail.totalMileage)%></li>
            <li class="list-group-item">Sun Exposure: <%- JSON.stringify(trail.exposure)%></li>
            <li class="list-group-item">Dogs Allowed? <%- JSON.stringify(trail.dogsAllowed)%></li>
          </ul>
         <div class="card-body">
            <form action="/trails/<%= trail._id %>?_method=DELETE" method="POST">
                <button>X</button>
              </form>
              <form action="/trails/<%= trail._id %>/edit" method="GET">
                  <button>Edit</button>
              </form>
        </div>
      </div>
 </section>
</div>
</main>

<%- include('../partials/footer') %>

<!-- <div>Trail:</div>
     <div><%= trail.name %></div>
     <div>Total Mileage:</div>
     <div><%= trail.totalMileage %></div>
     <div>Exsposure:</div>
     <div><%= trail.exposure %></div>
     <div>Dogs Allowed?</div>
     <div><%= trail.dogsAllowed %></div> -->